* {
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(133, 69, 17);
}

.title {
    margin-top: 5%;
    font-size: 3rem;
    
    /* color: rgb(49, 218, 49); */
    letter-spacing: 1rem;
    display: flex;
    justify-content: center;
}
.title span {
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


.card {
    padding: 20px;
    width: 400px;
    height: 230px;
    background-color: white;
    line-height: 2;
    text-align: center;
    margin: 5% auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    letter-spacing: 2px;
    border-radius: 10px;
}

.name {
    color: #56ab2f;
}

.gallery {
    width: 80%;
    columns: 3 300px;
    margin: 0 auto;
    column-gap: 30px;
    background-color: rgba(233, 233, 233, 0.247);
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}

.gallery>img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
    filter: brightness(100%);
    transition: .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (hover:hover) {
    .gallery>img:hover {
        transform: translateY(-10px);
        filter: brightness(80%);
    }
}


/* for tablet/plus-size smartphones  */
@media screen and (max-width: 1000px) {
    .card {
        width: 360px;
        height: 190px;
    }

    .gallery {
        column-count: 2;
        column-width: 100px;
        column-gap: 10px;
        padding: 10px;
    }

    .gallery>img {
        width: 100%;
        margin: 10px 0;
    }
}

/* for iPhone 5/SE */
@media screen and (max-width: 320px) {
    .card {
        width: 300px;
        height: 250px;
    }

    .gallery {
        column-count: 2;
        column-width: 100px;
        column-gap: 10px;
        padding: 10px;
    }

    .gallery>img {
        width: 100%;
        margin: 10px 0;
    }
}